.jimu-widget-wmxcreatejobs-setting{
  width: 100%;
  height: 100%;
  font-size: 12px;
}

.jimu-widget-wmxcreatejobs-setting .add-task-tip{
  font-size: 12px;
}

.jimu-widget-wmxcreatejobs-setting .not-visible{
  display: none;
}

.jimu-widget-wmxcreatejobs-setting > .content{
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  bottom: 0;
}

.jimu-widget-wmxcreatejobs-setting > .content > div{
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}

.jimu-widget-wmxcreatejobs-setting .items-list{
  left: 0;
  width: 300px;
}

.jimu-widget-wmxcreatejobs-setting > .content > .separator{
  left: 320px;
  width: 1px;
  background-color: #ccc;
}

.jimu-widget-wmxcreatejobs-setting .single-setting-content{
  right: 0;
  width: 625px;
}

.jimu-rtl .jimu-widget-wmxcreatejobs-setting .items-list{
  left: auto;
  right: 0;
}

.jimu-rtl .jimu-widget-wmxcreatejobs-setting > .content > .separator{
  left: auto;
  right: 320px;
}

.jimu-rtl .jimu-widget-wmxcreatejobs-setting .single-setting-content{
  right: auto;
  left: 0;
}

.jimu-widget-wmxcreatejobs-setting .add-btn{
  display: inline-block;
  width: 100%;
  height: 32px;
  background-color: #24B5CC;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.jimu-widget-wmxcreatejobs-setting .add-btn:hover{
  background-color: #0090A7;
}

.jimu-widget-wmxcreatejobs-setting .add-btn > div{
  display: inline-block;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
}

.jimu-widget-wmxcreatejobs-setting .add-btn .icon{
  position: relative;
  top: 1px;
  width: 12px;
  height: 12px;
  background: url(images/add.png) center center no-repeat;
  background-size: contain;
}

.jimu-widget-wmxcreatejobs-setting .add-btn .tip{
  margin-left: 8px;
}

.jimu-rtl .jimu-widget-wmxcreatejobs-setting .add-btn .tip{
  margin-left: 0;
  margin-right: 8px;
}
